--
-- PostgreSQL database cluster dump
--

\restrict ZlEOdcbJaFhM6568iin1Z8IoE5hwK8XafbrAERoj1SeGxCdNQsb5RvmNgqGzim6

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE ems_user;
ALTER ROLE ems_user WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:Kt8oCryUIRQHjLNl0HIKUg==$js4v/QB3l2Q9kJQTA6oTVvewl/aowys00uvCEzx3uYk=:YlUqgWoV2TZS9LEdFCzIjyl2l1ODRLr+tTdMdOnOXNk=';

--
-- User Configurations
--








\unrestrict ZlEOdcbJaFhM6568iin1Z8IoE5hwK8XafbrAERoj1SeGxCdNQsb5RvmNgqGzim6

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict HCSQ4eqgzK3Te5aR4YI3UHxCaeihEGRnnljhkuV8hI6MAFWfFEGc4lQ362mNhZf

-- Dumped from database version 18.0 (Debian 18.0-1.pgdg13+3)
-- Dumped by pg_dump version 18.0 (Debian 18.0-1.pgdg13+3)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict HCSQ4eqgzK3Te5aR4YI3UHxCaeihEGRnnljhkuV8hI6MAFWfFEGc4lQ362mNhZf

--
-- Database "ems_db" dump
--

--
-- PostgreSQL database dump
--

\restrict qoaL3zQiafoViWuvmBQcvCOyxTf63booaewlpJ9VeTqHFXFvu2BJutvCcs1g7kn

-- Dumped from database version 18.0 (Debian 18.0-1.pgdg13+3)
-- Dumped by pg_dump version 18.0 (Debian 18.0-1.pgdg13+3)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ems_db; Type: DATABASE; Schema: -; Owner: ems_user
--

CREATE DATABASE ems_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE ems_db OWNER TO ems_user;

\unrestrict qoaL3zQiafoViWuvmBQcvCOyxTf63booaewlpJ9VeTqHFXFvu2BJutvCcs1g7kn
\connect ems_db
\restrict qoaL3zQiafoViWuvmBQcvCOyxTf63booaewlpJ9VeTqHFXFvu2BJutvCcs1g7kn

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: attendance_attendancerecord; Type: TABLE; Schema: public; Owner: ems_user
--

CREATE TABLE public.attendance_attendancerecord (
    id bigint NOT NULL,
    date date NOT NULL,
    check_in time without time zone,
    check_out time without time zone,
    status character varying(10) NOT NULL,
    employee_id bigint NOT NULL
);


ALTER TABLE public.attendance_attendancerecord OWNER TO ems_user;

--
-- Name: attendance_attendancerecord_id_seq; Type: SEQUENCE; Schema: public; Owner: ems_user
--

ALTER TABLE public.attendance_attendancerecord ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.attendance_attendancerecord_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: attendance_leaverequest; Type: TABLE; Schema: public; Owner: ems_user
--

CREATE TABLE public.attendance_leaverequest (
    id bigint NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    reason text NOT NULL,
    status character varying(10) NOT NULL,
    requested_on timestamp with time zone NOT NULL,
    approved_by_id bigint,
    employee_id bigint NOT NULL
);


ALTER TABLE public.attendance_leaverequest OWNER TO ems_user;

--
-- Name: attendance_leaverequest_id_seq; Type: SEQUENCE; Schema: public; Owner: ems_user
--

ALTER TABLE public.attendance_leaverequest ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.attendance_leaverequest_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: ems_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO ems_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: ems_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: ems_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO ems_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: ems_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: ems_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO ems_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: ems_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: ems_user
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.authtoken_token OWNER TO ems_user;

--
-- Name: departments_department; Type: TABLE; Schema: public; Owner: ems_user
--

CREATE TABLE public.departments_department (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    manager_id bigint,
    parent_department_id bigint
);


ALTER TABLE public.departments_department OWNER TO ems_user;

--
-- Name: departments_department_id_seq; Type: SEQUENCE; Schema: public; Owner: ems_user
--

ALTER TABLE public.departments_department ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.departments_department_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: departments_designation; Type: TABLE; Schema: public; Owner: ems_user
--

CREATE TABLE public.departments_designation (
    id bigint NOT NULL,
    title character varying(100) NOT NULL,
    description text,
    department_id bigint NOT NULL
);


ALTER TABLE public.departments_designation OWNER TO ems_user;

--
-- Name: departments_designation_id_seq; Type: SEQUENCE; Schema: public; Owner: ems_user
--

ALTER TABLE public.departments_designation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.departments_designation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: ems_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO ems_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: ems_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: ems_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO ems_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: ems_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: ems_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO ems_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: ems_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: ems_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO ems_user;

--
-- Name: employee_employee; Type: TABLE; Schema: public; Owner: ems_user
--

CREATE TABLE public.employee_employee (
    id bigint NOT NULL,
    full_name character varying(100) NOT NULL,
    phone_number character varying(20),
    department character varying(100),
    designation character varying(100),
    join_date date,
    salary numeric(10,2),
    user_id bigint NOT NULL
);


ALTER TABLE public.employee_employee OWNER TO ems_user;

--
-- Name: employee_employee_id_seq; Type: SEQUENCE; Schema: public; Owner: ems_user
--

ALTER TABLE public.employee_employee ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.employee_employee_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user; Type: TABLE; Schema: public; Owner: ems_user
--

CREATE TABLE public.users_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(254) NOT NULL,
    role character varying(20) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL
);


ALTER TABLE public.users_user OWNER TO ems_user;

--
-- Name: users_user_groups; Type: TABLE; Schema: public; Owner: ems_user
--

CREATE TABLE public.users_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.users_user_groups OWNER TO ems_user;

--
-- Name: users_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: ems_user
--

ALTER TABLE public.users_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: ems_user
--

ALTER TABLE public.users_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_user_permissions; Type: TABLE; Schema: public; Owner: ems_user
--

CREATE TABLE public.users_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.users_user_user_permissions OWNER TO ems_user;

--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: ems_user
--

ALTER TABLE public.users_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: attendance_attendancerecord; Type: TABLE DATA; Schema: public; Owner: ems_user
--

COPY public.attendance_attendancerecord (id, date, check_in, check_out, status, employee_id) FROM stdin;
\.


--
-- Data for Name: attendance_leaverequest; Type: TABLE DATA; Schema: public; Owner: ems_user
--

COPY public.attendance_leaverequest (id, start_date, end_date, reason, status, requested_on, approved_by_id, employee_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: ems_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: ems_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: ems_user
--



--
-- Data for Name: authtoken_token; Type: TABLE DATA; Schema: public; Owner: ems_user
--

COPY public.authtoken_token (key, created, user_id) FROM stdin;
a4bc90246a6baa51532f3851c47477442f1e4f78	2025-11-09 08:28:30.906723+00	1
\.


--
-- Data for Name: departments_department; Type: TABLE DATA; Schema: public; Owner: ems_user
--

COPY public.departments_department (id, name, description, manager_id, parent_department_id) FROM stdin;
1	IT	This department handles Technological tasks.	1	\N
2	Marketting	This department handles Marketting tasks.	\N	\N
\.


--
-- Data for Name: departments_designation; Type: TABLE DATA; Schema: public; Owner: ems_user
--

COPY public.departments_designation (id, title, description, department_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: ems_user
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
1	2025-11-09 11:05:29.860384+00	1	IT	1	[{"added": {}}]	9	1
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: ems_user
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	users	user
7	authtoken	token
8	authtoken	tokenproxy
9	departments	department
10	departments	designation
11	employee	employee
12	attendance	leaverequest
13	attendance	attendancerecord
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: ems_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: ems_user
--



--
-- Data for Name: employee_employee; Type: TABLE DATA; Schema: public; Owner: ems_user
--

COPY public.employee_employee (id, full_name, phone_number, department, designation, join_date, salary, user_id) FROM stdin;
\.


--
-- Data for Name: users_user; Type: TABLE DATA; Schema: public; Owner: ems_user
--



--
-- Data for Name: users_user_groups; Type: TABLE DATA; Schema: public; Owner: ems_user
--

COPY public.users_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: users_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: ems_user
--

COPY public.users_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Name: attendance_attendancerecord_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ems_user
--

SELECT pg_catalog.setval('public.attendance_attendancerecord_id_seq', 1, false);


--
-- Name: attendance_leaverequest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ems_user
--

SELECT pg_catalog.setval('public.attendance_leaverequest_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ems_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ems_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ems_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 52, true);


--
-- Name: departments_department_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ems_user
--

SELECT pg_catalog.setval('public.departments_department_id_seq', 2, true);


--
-- Name: departments_designation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ems_user
--

SELECT pg_catalog.setval('public.departments_designation_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ems_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ems_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 13, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ems_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 26, true);


--
-- Name: employee_employee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ems_user
--

SELECT pg_catalog.setval('public.employee_employee_id_seq', 1, false);


--
-- Name: users_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ems_user
--

SELECT pg_catalog.setval('public.users_user_groups_id_seq', 1, false);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ems_user
--

SELECT pg_catalog.setval('public.users_user_id_seq', 42, true);


--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ems_user
--

SELECT pg_catalog.setval('public.users_user_user_permissions_id_seq', 1, false);


--
-- Name: attendance_attendancerecord attendance_attendancerecord_employee_id_date_ad4160fa_uniq; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.attendance_attendancerecord
    ADD CONSTRAINT attendance_attendancerecord_employee_id_date_ad4160fa_uniq UNIQUE (employee_id, date);


--
-- Name: attendance_attendancerecord attendance_attendancerecord_pkey; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.attendance_attendancerecord
    ADD CONSTRAINT attendance_attendancerecord_pkey PRIMARY KEY (id);


--
-- Name: attendance_leaverequest attendance_leaverequest_pkey; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.attendance_leaverequest
    ADD CONSTRAINT attendance_leaverequest_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: departments_department departments_department_name_key; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.departments_department
    ADD CONSTRAINT departments_department_name_key UNIQUE (name);


--
-- Name: departments_department departments_department_pkey; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.departments_department
    ADD CONSTRAINT departments_department_pkey PRIMARY KEY (id);


--
-- Name: departments_designation departments_designation_pkey; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.departments_designation
    ADD CONSTRAINT departments_designation_pkey PRIMARY KEY (id);


--
-- Name: departments_designation departments_designation_title_key; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.departments_designation
    ADD CONSTRAINT departments_designation_title_key UNIQUE (title);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: employee_employee employee_employee_pkey; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.employee_employee
    ADD CONSTRAINT employee_employee_pkey PRIMARY KEY (id);


--
-- Name: employee_employee employee_employee_user_id_key; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.employee_employee
    ADD CONSTRAINT employee_employee_user_id_key UNIQUE (user_id);


--
-- Name: users_user users_user_email_key; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_email_key UNIQUE (email);


--
-- Name: users_user_groups users_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_pkey PRIMARY KEY (id);


--
-- Name: users_user_groups users_user_groups_user_id_group_id_b88eab82_uniq; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_group_id_b88eab82_uniq UNIQUE (user_id, group_id);


--
-- Name: users_user users_user_pkey; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_permission_id_43338c45_uniq; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_permission_id_43338c45_uniq UNIQUE (user_id, permission_id);


--
-- Name: users_user users_user_username_key; Type: CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_username_key UNIQUE (username);


--
-- Name: attendance_attendancerecord_employee_id_e7066fe9; Type: INDEX; Schema: public; Owner: ems_user
--

CREATE INDEX attendance_attendancerecord_employee_id_e7066fe9 ON public.attendance_attendancerecord USING btree (employee_id);


--
-- Name: attendance_leaverequest_approved_by_id_92a061c8; Type: INDEX; Schema: public; Owner: ems_user
--

CREATE INDEX attendance_leaverequest_approved_by_id_92a061c8 ON public.attendance_leaverequest USING btree (approved_by_id);


--
-- Name: attendance_leaverequest_employee_id_78d53ae3; Type: INDEX; Schema: public; Owner: ems_user
--

CREATE INDEX attendance_leaverequest_employee_id_78d53ae3 ON public.attendance_leaverequest USING btree (employee_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: ems_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: ems_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: ems_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: ems_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: ems_user
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: departments_department_manager_id_54b667cc; Type: INDEX; Schema: public; Owner: ems_user
--

CREATE INDEX departments_department_manager_id_54b667cc ON public.departments_department USING btree (manager_id);


--
-- Name: departments_department_name_f57acac7_like; Type: INDEX; Schema: public; Owner: ems_user
--

CREATE INDEX departments_department_name_f57acac7_like ON public.departments_department USING btree (name varchar_pattern_ops);


--
-- Name: departments_department_parent_department_id_40d2bf3b; Type: INDEX; Schema: public; Owner: ems_user
--

CREATE INDEX departments_department_parent_department_id_40d2bf3b ON public.departments_department USING btree (parent_department_id);


--
-- Name: departments_designation_department_id_7ccd880a; Type: INDEX; Schema: public; Owner: ems_user
--

CREATE INDEX departments_designation_department_id_7ccd880a ON public.departments_designation USING btree (department_id);


--
-- Name: departments_designation_title_2c2c35f7_like; Type: INDEX; Schema: public; Owner: ems_user
--

CREATE INDEX departments_designation_title_2c2c35f7_like ON public.departments_designation USING btree (title varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: ems_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: ems_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: ems_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: ems_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: users_user_email_243f6e77_like; Type: INDEX; Schema: public; Owner: ems_user
--

CREATE INDEX users_user_email_243f6e77_like ON public.users_user USING btree (email varchar_pattern_ops);


--
-- Name: users_user_groups_group_id_9afc8d0e; Type: INDEX; Schema: public; Owner: ems_user
--

CREATE INDEX users_user_groups_group_id_9afc8d0e ON public.users_user_groups USING btree (group_id);


--
-- Name: users_user_groups_user_id_5f6f5a90; Type: INDEX; Schema: public; Owner: ems_user
--

CREATE INDEX users_user_groups_user_id_5f6f5a90 ON public.users_user_groups USING btree (user_id);


--
-- Name: users_user_user_permissions_permission_id_0b93982e; Type: INDEX; Schema: public; Owner: ems_user
--

CREATE INDEX users_user_user_permissions_permission_id_0b93982e ON public.users_user_user_permissions USING btree (permission_id);


--
-- Name: users_user_user_permissions_user_id_20aca447; Type: INDEX; Schema: public; Owner: ems_user
--

CREATE INDEX users_user_user_permissions_user_id_20aca447 ON public.users_user_user_permissions USING btree (user_id);


--
-- Name: users_user_username_06e46fe6_like; Type: INDEX; Schema: public; Owner: ems_user
--

CREATE INDEX users_user_username_06e46fe6_like ON public.users_user USING btree (username varchar_pattern_ops);


--
-- Name: attendance_attendancerecord attendance_attendanc_employee_id_e7066fe9_fk_employee_; Type: FK CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.attendance_attendancerecord
    ADD CONSTRAINT attendance_attendanc_employee_id_e7066fe9_fk_employee_ FOREIGN KEY (employee_id) REFERENCES public.employee_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: attendance_leaverequest attendance_leaverequ_approved_by_id_92a061c8_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.attendance_leaverequest
    ADD CONSTRAINT attendance_leaverequ_approved_by_id_92a061c8_fk_users_use FOREIGN KEY (approved_by_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: attendance_leaverequest attendance_leaverequ_employee_id_78d53ae3_fk_employee_; Type: FK CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.attendance_leaverequest
    ADD CONSTRAINT attendance_leaverequ_employee_id_78d53ae3_fk_employee_ FOREIGN KEY (employee_id) REFERENCES public.employee_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: departments_department departments_departme_parent_department_id_40d2bf3b_fk_departmen; Type: FK CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.departments_department
    ADD CONSTRAINT departments_departme_parent_department_id_40d2bf3b_fk_departmen FOREIGN KEY (parent_department_id) REFERENCES public.departments_department(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: departments_department departments_department_manager_id_54b667cc_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.departments_department
    ADD CONSTRAINT departments_department_manager_id_54b667cc_fk_users_user_id FOREIGN KEY (manager_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: departments_designation departments_designat_department_id_7ccd880a_fk_departmen; Type: FK CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.departments_designation
    ADD CONSTRAINT departments_designat_department_id_7ccd880a_fk_departmen FOREIGN KEY (department_id) REFERENCES public.departments_department(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employee_employee employee_employee_user_id_2dd26fdc_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.employee_employee
    ADD CONSTRAINT employee_employee_user_id_2dd26fdc_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_group_id_9afc8d0e_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_group_id_9afc8d0e_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_user_id_5f6f5a90_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_5f6f5a90_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_perm_permission_id_0b93982e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_perm_permission_id_0b93982e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_20aca447_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: ems_user
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_20aca447_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict qoaL3zQiafoViWuvmBQcvCOyxTf63booaewlpJ9VeTqHFXFvu2BJutvCcs1g7kn

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict HEqoKRtBc9dpyAZZdXjtZFaGqo3uNDnyV5tK60SbtBiwBnqDvgbOMbHnvrcLnb3

-- Dumped from database version 18.0 (Debian 18.0-1.pgdg13+3)
-- Dumped by pg_dump version 18.0 (Debian 18.0-1.pgdg13+3)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict HEqoKRtBc9dpyAZZdXjtZFaGqo3uNDnyV5tK60SbtBiwBnqDvgbOMbHnvrcLnb3

--
-- PostgreSQL database cluster dump complete
--

